* {
  box-sizing:  content-box;
  font-family: 'Noto Sans', sans-serif;
}

table {
  line-height: 2em;
  table-layout: fixed;
  border-collapse: collapse;
  width: 70vw;


}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.inlineInput {
  line-height: 1.6em;
  font-size: 1em;
  font-weight: 700;
  width: 100%;

}

.row:hover {
  background-color: #EAEAF2;
  outline: 2px solid #747480;
  font-weight: 700;
}

.table-title {
  background-color: #2E2E38;
  color: #FFF;
}


th.arrowAble{
  cursor:pointer;
}

th[sortable].desc:after, th[sortable].asc:after{
  content: '';
  display: inline-block;
  background: url(https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-up-01-512.png) no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-left: 5px;
}

th[sortable].desc:after {
    transform: rotate(180deg);
}
