
* {
  box-sizing:  border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  --Checkbox-size: 1em;
  --ThColor: rgb(116, 116, 116);
}

table {
  line-height: 1.2em;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 0.5em;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.inlineInput {
  width: 75%;
  line-height: 1.6em;
  font-size: 1em;
  font-weight: 700;

}

.row:hover {
  background-color: #EAEAF2;
  outline: 2px solid #747480;
}

.table-title {
  background-color: var(--ThColor);
  color: #FFF;
}


th.arrowAble{
  cursor:pointer;
}

th[sortable].desc:after, th[sortable].asc:after{
  content: '';
  display: inline-block;
  background: url(src\assets\Icons\iconfinder-icon.svg) no-repeat;
  background-size: 1em;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-left: 1em;
}

th[sortable].desc:after {
    transform: rotate(180deg);
}

.del {  background: url(https://cdn2.iconfinder.com/data/icons/essential-web-1-1/50/close-cross-error-wrong-reject-512.png) center no-repeat; }
.edit {  background: url(https://cdn2.iconfinder.com/data/icons/essential-web-3/50/edit-note-pencil-document-write-512.png) center no-repeat; }
.done {  background: url(https://cdn2.iconfinder.com/data/icons/essential-web-4/50/check-tick-mark-correct-choose-512.png) center no-repeat; }

.icoBtnWrapper{
  display: inline-block;
  margin-right: auto;
}

.icoBtn {
  background-color: inherit;
  border: none;
  display: inline-block;
  background-size: 1em;
  width: 1.2em;
  height: 1.5em;
  vertical-align: middle;
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
}

.sm{
  width: 10%;
  padding: 0;
  text-align: center;
}

.xsm{
  width: 5%;
  padding: 0;
}


input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {

  display: inline-block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font: 1em 'Open Sans', Arial, sans-serif;
  color: #2e2f2f;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: var(--Checkbox-size);
  height: var(--Checkbox-size);
  border: 1px solid #2e2f2f;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"] + #mainLabel:before{
  border: 1px solid white;
}


input[type="checkbox"]:checked + label:before {
  width: calc(var(--Checkbox-size)/2);
  top: calc(-1* var(--Checkbox-size)/4);
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type="checkbox"]:checked + #mainLabel:before{
  border-top-color: var(--ThColor);
  border-left-color: var(--ThColor);
}

input[type="checkbox"]:disabled + #mainLabel:before{
    display: none;
}

.highlight.highlight {
  background-color: rgb(177, 177, 177);
  color: white
}

.pagination {
  margin-right: 6vw;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: rgb(141, 141, 141);
}

.my-pagination /deep/ .ngx-pagination {
  padding-left: 0;
}


.underTable{
  padding: 0 5%;
  background-color: white;
  border: grey;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: -1px;
}

.underTable[stuck]{
  box-shadow: 0px -5px 30px -6px rgba(0,0,0,0.75);
  border-radius: 5px 5px 0 0;

}


.componentWrapper{
  padding: 2vh 10%;
}

.overTable{
  /* align-items: center; */
  padding: 0.5em 1em;
  position: sticky;
  top: -1px;
  z-index: 2;
  background-color: white;
  display: flex;
  /* justify-content: space-between; */
}

.actionContainer{
  margin-left: auto;
}

.overTable[stuck]{
  box-shadow: 0px -5px 30px -6px rgba(0,0,0,0.75);
  border-radius: 0 0 5px 5px;
}

.searchInput{
  width: 100%;
  font-size: 0.8em;
  background: url(https://cdn2.iconfinder.com/data/icons/essential-web-5/50/search-look-magnify-glass-inspect-512.png) no-repeat;
  border: 1px solid #ccc;
  background-size: 1rem;
  background-color: white;
  background-position: 10px center;
  padding: 0.2rem 0.2rem 0.2rem 2rem;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  font-weight: 500;
}

.searchInput:focus,  .searchInput:hover{
  border-radius: 4px;
}

.dropdown{
  font-family: sans-serif;

}

.btn {
  font-size: 1em;
  padding: 0.4em 0.4em;
  margin-bottom: 0;
  margin-left: 0.2em;

  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn:disabled{
  color: rgb(192, 190, 190);
  cursor: default;
}

.leftUnderTable{
  width: 12vw;
  line-height: 1.1em;
  font-size: 0.9em;
  display: flex;
  flex-flow: column;
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
  box-shadow: inset 0px 0px 5px 2px rgba(230,16,87,0.2);
}

.invalidError{
  font-size: 0.6em;
  color: red;
  font-style: oblique;
  line-height: normal;
}
