<div    *ngIf="contentLoaded"  class="componentWrapper">
<header>
  <div>
    <h1>Inline Editable Table</h1>
  </div>
</header>


<div class="overTable">
    <div class="actionContainer">
      <button type="button" class="btn" (click)="addRow()">Add row</button>
      <button type="button" class="btn" *ngIf="!checkIfNoCheckbox()" (click)="clearSelection()">Clear Selection</button>
      <button type="button" class="btn" [disabled]="checkIfEmptyTable() || checkIfNoCheckbox()" (click)="editSelectedRows()">Batch edit</button>
      <button type="button" class="btn" [disabled]="checkIfEmptyTable() || checkIfNoCheckbox()"(click)="deleteSelectedRows()">Batch delete</button>
      <button type="button" class="btn" (click)="resetSearchFilter()" [disabled]="filter===''">Reset search</button>
    </div>
</div>


<form [formGroup]="userTable">

<table>
  <colgroup>
    <col span="1" class="sm">
  </colgroup>
  <thead>
    <tr class="table-title">
      <th class="arrowAble" [attr.colspan]="first ? '2': '1'" *ngFor="let column of columns; let first=first" sortable="{{column}}" (sort)="onSort($event)">{{column}}</th>
      <!-- BUG - nu se pune arrow - din cauza sortable="{{column}}" - sortable="Company" e ok -->
      <th class="xsm"><div class="checkboxWrapper"><input type="checkbox" (change)="checkAllBoxes()" [(ngModel)]=mainCheck [ngModelOptions]="{standalone: true}" [disabled]="checkIfEmptyTable()" id="mainBox"><label id="mainLabel" for="mainBox"></label></div></th>
    </tr>

    <tr>
      <th [attr.colspan]="first || last ? '2': '1'" *ngFor="let column of columns; let first=first; let last=last; let i=index">
        <div class="searchForm">
          <input class="inlineInput searchInput" (keydown.enter)="search(filterArray[i].column,filterArray[i].value)" [(ngModel)]="filterArray[i].value" (ngModelChange)="checkTextArea(filterArray[i].column, filterArray[i].value)" [ngModelOptions]="{standalone: true}">
        </div>

      </th>
    </tr>
  </thead>

  <tbody>
    <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls | paginate: {itemsPerPage: selectedItemsPerPage, currentPage: page, totalItems: tableEntriesCount} ; let i=index">
      <tr class="row" *ngIf="group.get('isEditable').value" [formGroupName]="i" [ngClass]="{'highlight': group.get('Checked').value===true}">
        <td class="sm">
          <button type="button" class="icoBtn done"(click)="doneRow(group, i)"></button>

        </td>

        <td>

          <input class="inlineInput" type="text" formControlName="Company">
            <div *ngIf="!isValid(group, 'Company')" class="invalidError">Company name is invalid</div>
        </td>

        <td>
          <input class="inlineInput" type="text" formControlName="Contact">
          <div *ngIf="!isValid(group, 'Contact')" class="invalidError">Contact name is invalid</div>
        </td>

        <td>
          <input class="inlineInput" type="text" formControlName="Country">
          <div *ngIf="!isValid(group, 'Country')" class="invalidError">Country name is invalid</div>
        </td>

        <td><div class="checkboxWrapper"><input type="checkbox" id="box-{{i}}" formControlName="Checked" (change)="checkAll()"><label for="box-{{i}}"></label></div></td>

      <tr class="row" *ngIf="!group.get('isEditable').value" [formGroupName]="i" [ngClass]="{'highlight': group.get('Checked').value===true}">

        <td class="sm">
          <div class="icoBtnWrapper">
            <button type="button" class="icoBtn edit"(click)="editRow(group)"></button>
            <button type="button"  class="icoBtn del" (click)="deleteRow(i)"></button>
          </div>
        </td>

        <td>

          {{group.get('Company').value}}
        </td>

        <td>
          {{group.get('Contact').value}}
        </td>

        <td>
          {{group.get('Country').value}}
        </td>

        <td>
          <div class="checkboxWrapper">
            <input type="checkbox" formControlName="Checked" id="box-{{(page-1)*selectedItemsPerPage+i}}" (change)="checkAll()"><label for="box-{{(page-1)*selectedItemsPerPage+i}}"></label></div>
        </td>

      </tr>
    </ng-container>
  </tbody>
</table>
</form>

<div class="underTable">
  <div class="leftUnderTable">
    <span>{{tableEntriesCount}} total entries</span>
    <span *ngIf="getRowsSelected()>0">{{getRowsSelected()}} rows selected</span>
    <span *ngIf="getRowsPendingEdit()>0">{{getRowsPendingEdit()}} rows pending edit</span>
  </div>

  <div class="pagination">
    <pagination-controls class="my-pagination" (pageChange)="page = $event" (pageChange) = "initiateForm()"></pagination-controls>
  </div>

  <div class="rightUnderTable">
    <select #itemsPage type="number" (change)="onOptionSelect()" [(ngModel)]="selectedItemsPerPage" [ngModelOptions]="{standalone: true}">
      <option class="dropdown" *ngFor="let item of itemsPerPage" [ngValue]="item">{{item}} items per page</option>
    </select>
  </div>
</div>
</div>
