<app-reactive-table
    [columns]="columns"
    (deleteRowChange)="deleteRow($event)"
    (editRowChange)="editRow($event)"
    (addRowChange)="addRow($event)"
    (initiateFormChange)="initiateForm($event)"
    (rowClickedChange)="rowClicked($event)"

    [itemsPerPage] = "itemsPerPage"
    [selectedItemsPerPage] = "selectedItemsPerPage"
    [isEditable] = "isEditable"
    [isDeleteable] = "isDeleteable"
    [isSelectable] = "isSelectable"
    [isSearchable] = "isSearchable"
    [isSortable] = "isSortable"

    [tableEntriesCount]="tableEntriesCount"

    [newRow] = "tableEntryTemplate"
    (newRowChange)="newRow()"

    [idReceiver]="idReceivedChange"
    [valuesReceiver]="valuesChange"
    [formArray]="formArrayChange"
    >
</app-reactive-table>

    <!-- NG ON CHANGES
    [data]="data"
    (onRefresh)="onRefresh()"
  -->

<div style="position: sticky; z-index: 10; background-color: wheat; bottom: 3em; display: inline-flex; width: 100%; justify-content: center; ">
  Editable?
  <button [style.background-color]="isEditable ? 'green' : 'red'" (click)="isEditable = !isEditable">{{isEditable}}</button>
  Deleteable?
  <button [style.background-color]="isDeleteable ? 'green' : 'red'" (click)="isDeleteable = !isDeleteable">{{isDeleteable}}</button>
  Selectable?
  <button [style.background-color]="isSelectable ? 'green' : 'red'" (click)="isSelectable = !isSelectable">{{isSelectable}}</button>
  Searchable?
  <button [style.background-color]="isSearchable ? 'green' : 'red'" (click)="isSearchable = !isSearchable">{{isSearchable}}</button>
  Sortable?
  <button [style.background-color]="isSortable ? 'green' : 'red'" (click)="isSortable = !isSortable">{{isSortable}}</button>
</div>
